PORT=8080

DATABASE_URL="postgres://root:1234@localhost:5432/guideofdubai-blog?sslmode=disable"
MIGRATIONS_PATH="./database/migrations"
BACKUPS_PATH="./database/backups"

JWT_ACCESS_SECRET="openssl rand -base64 32"
JWT_REFRESH_SECRET="openssl rand -base64 32"
